    <div class="main-logo">quoteBook.</div>
    <div class="button-contain">
      <div class="create"><a ui-sref="create">CREATE</a></div>
      <div class="enter"><a ui-sref="enter">ENTER</a></div>
    </div>
    <div class="input">
      <input type="text" name="username" placeholder="username">
      <input type="text" name="password" placeholder="password">
    </div>
    <div class="submit" ui-sref="book"ng-click="growDivAgain()">GO</div>
    <p>--or--</p>
    <div class="social">
      <div class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></div>
      <div class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></div>
      <div class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></div>
      <div class="tumblr"><i class="fa fa-tumblr" aria-hidden="true"></i></div>
    </div>
