/* Coolors Exported Palette - coolors.co/342f26-a39782-ffdda3-d6d0b3-ffefe0 */

/* HSL */
$color1: hsla(39%, 16%, 18%, 1);
$color2: hsla(38%, 15%, 57%, 1);
$color3: hsla(38%, 100%, 82%, 1);
$color4: hsla(50%, 30%, 77%, 1);
$color5: hsla(29%, 100%, 94%, 1);

/* RGB */
$color1: rgba(52, 47, 38, 1);
$color2: rgba(163, 151, 130, 1);
$color3: rgba(255, 221, 163, 1);
$color4: rgba(214, 208, 179, 1);
$color5: rgba(255, 239, 224, 1);